<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Traffic</h5>
                  <span class="h2 font-weight-bold mb-0">350,897</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">New users</h5>
                  <span class="h2 font-weight-bold mb-0">2,356</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                <span class="text-nowrap">Since last week</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Sales</h5>
                  <span class="h2 font-weight-bold mb-0">924</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                <span class="text-nowrap">Since yesterday</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Performance</h5>
                  <span class="h2 font-weight-bold mb-0">49,65%</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header">
          <div *ngIf="success" class="alert alert-success ml-4 mr-4">
            <span class="closebtn"
              onclick="this.parentElement.style.display='none'; success = false; console.log(success);">&times;</span>
            Colis supprimé avec succes
          </div>
          <div class="row mb-4">
            <div>Carnet d'adresses: </div>
          </div>
          <div class="row">
            <div class="col-6 pr-4">
              <div class="row">
                <div class="col-2">
                  <label for="per-page">
                    Afficher
                  </label>
                </div>
                <div class="col-2">
                  <select class="form-control" id="per-page" (change)="onLimitChange($event.target.value)">
                    <option *ngFor="let option of pageLimitOptions" [value]="option.value"
                      [selected]="option.value == currentPageLimit">
                      {{ option.value }}
                    </option>
                  </select>
                </div>
                <div class="col-6">
                  <label for="per-page">
                    éléments
                  </label>
                </div>
              </div>

            </div>
            <div class="col-6 float-right" style="padding-left: 300px !important;">
              <input #search class="form-control" type="text" placeholder="Rechercher" (keyup)="updateFilter($event)"
                autocomplete="false" />
            </div>
          </div>
        </div>
        <div>
          <ngx-datatable #table class="bootstrap" [selectionType]="'checkbox'" [rowIdentity]="getId" [rows]="rows"
            [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [limit]="10" [footerHeight]="50"
            [rowHeight]="'auto'" [scrollbarH]="true" [externalSorting]="true" (select)="onSelect($event)"
            (sort)="onSort($event)">

            <ngx-datatable-column name="Numero">
              <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                <span>
                  {{row.financeNb}}
                </span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Date">
              <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                <span>
                  {{row.createdAtSearch}}
                </span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="TotalCOD">
              <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                <span>
                  {{row.totalCOD}}
                </span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Total HFL">
              <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                <span>
                  {{row.totalHorsFrais}}
                </span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Total cout de livraison">
              <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                <span>
                  {{row.totalFraisLivraison}}
                </span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column [sortable]="false" name="Actions" prop="{data: modifData, nom: nom}">
              <ng-template let-value="value" let-row="row" ngx-datatable-cell-template="true">
                <a [routerLink]="" (click)="toFacture(row)" class="btn btn-sm btn-primary rounded-circle">
                  <i class="fa fa-eye"></i>
                </a>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-footer>
              <ng-template ngx-datatable-footer-template let-rowCount="count" let-pageSize="pageSize"
                let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
                <div class="pl-2">
                  Elements: {{ count }} | Taille: {{ pageSize }} | Page:
                  {{ curPage }}
                </div>
                <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'"
                  [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                  [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="count"
                  [hidden]="!((count / pageSize) > 1)" (change)="onFooterPage($event)">
                </datatable-pager>
              </ng-template>
            </ngx-datatable-footer>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
