<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 600px; background-size: cover; background-position: center top;">
  <!-- <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;"> -->
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="row container-fluid">
    <div class="col-xl-6 center">
      <div class="row justify-content-center">
        <div *ngIf="passReset === true" class="alert alert-success ml-4 mr-4 col-lg-12 col-md-12">
          <span class="closebtn" onclick="this.parentElement.style.display='none'; passReset = false;">&times;</span>
          Mot de passe mis à jour
        </div>
      </div>
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Mon compte</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="passwordResetForm" (ngSubmit)="changePassword()">
            <h6 class="heading-small text-muted mb-4">Informations utilisateur</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Nom & Prénom</label>
                    <label type="text" id="input-username" class="form-control form-control-alternative"
                      placeholder="Username">{{userInfo.nom | titlecase}}</label>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Adresse Email</label>
                    <label type="email" id="input-email"
                      class="form-control form-control-alternative">{{userInfo.email}}</label>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">réinitialiser mot de passe</h6>
            <div class="form-group">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label">Mot de passe</label>
                    <input formControlName="oldPassword" type="password" class="form-control form-control-alternative">
                    <ng-container *ngIf="errorOldPass != ''">
                      <i class='fas fa-exclamation-triangle' style='color:#f5365c'></i>
                      <small class="text-danger">
                        {{errorOldPass}}
                      </small>
                    </ng-container>
                  </div>
                  <div class="form-group">
                    <label class="form-control-label">Nouveau mot de
                      passe</label>
                    <input formControlName="newPassword" type="password" class="form-control form-control-alternative">
                  </div>
                  <ng-container *ngIf="errorNewPass != ''">
                    <i class='fas fa-exclamation-triangle' style='color:#f5365c'></i>
                    <small class="text-danger">
                      {{errorNewPass}}
                    </small>
                  </ng-container>
                </div>
              </div>
              <div class="text-center">
                <button class="btn btn-primary my-4" [disabled]="passwordResetForm.invalid">Confirmer</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
