<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>

</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <!-- ************************ START: PATH = RECHRCHE-AV ************************ -->
      <ng-container *ngIf="routePath == 'recherche-av'">
        <ng-container *ngIf="!packageAction">
          <div class="card mb-4 shadow border-0">
            <form class="card-body" (ngSubmit)="onSubmit()" [formGroup]="searchForm">
              <div class="form-row">
                <div class="col-md-8 col-xs-12 offset-1">
                  <div class="form-group row">
                    <label class="text-right my-auto col-md-4" for="inputAddress">Code à barre</label>
                    <input formControlName="CAB" id="code_barre" name="code_barre" type="number"
                      class="form-control col-md-6">
                  </div>
                  <div class="form-group row">
                    <label class="text-right my-auto col-md-4" for="inputAddress">Téléphone</label>
                    <input formControlName="tel" id="tel_cl" name="tel_cl" type="number" class="form-control col-md-6">
                  </div>
                  <div class="form-group row">
                    <label class="text-right my-auto col-md-4" for="inputPassword4">Nom &amp; Prénom</label>
                    <input formControlName="nom" id="nom_prenom_cl" name="nom_prenom_cl" type="text"
                      class="form-control col-md-6">
                  </div>
                  <div class="form-group row">
                    <label class="text-right my-auto col-md-4" for="inputPassword4">Adresse</label>
                    <input formControlName="adresse" id="adresse_cl" name="adresse_cl" type="text"
                      class="form-control col-md-6">
                  </div>
                  <div class="form-group row">
                    <label class="text-right my-auto col-md-4" for="inputEmail4">Gouvernorat</label>
                    <select formControlName="villeId" name="ville_cl" class="form-control col-md-6" id="ville">
                      <option hidden="" value="" selected="">-- Choisir --</option>
                      <option *ngFor="let ville of villes" [value]="ville._id">
                        {{ ville.nom | titlecase }} </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" name="submit" value="1"
                  class="btn float-right btn-primary text-white px-5">Rechercher</button>
              </div>
            </form>
          </div>
        </ng-container>
      </ng-container>
      <!-- ************************ END: PATH = RECHRCHE-AV ************************ -->
      <!-- ************************ START: PATH = RECHRCHE ************************ -->
      <ng-container *ngIf="routePath == 'recherche-av-sub'">
        <h3 class="card-header bg-success text-white text-center mb-4" style="border-radius: 50px;">Vous avez
          <u>{{packageData.length}}</u> résultats pour votre recherche
        </h3>
        <ng-container *ngIf="packageData.length === 0">
          <h1 class="card-header text-center text-white alert alert-warning">Bordereau n'existe pas.</h1>
        </ng-container>
        <ng-container *ngFor="let package of packageData">
          <div class="card mb-4" style="position: relative;">
            <h1 class="card-header bg-primary text-white">{{package.CAB}}</h1>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-12">
                  <h5 class="card-title">Nombre de tentative: {{calculateAttempts(package.historique)}}</h5>
                  <hr>
                </div>
                <div class="col-sm-3">
                  <h5 class="card-title">Coordonnées de l'expéditeur</h5>
                  <hr>
                  <div class="form-group">
                    <label class="form-label">Téléphone : {{package.telf}}</label>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Nom &amp; Prénom : {{package.nomf}}</label>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Ville : {{package.villef}}</label>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Délegation : {{package.delegationf}}</label>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Adresse : {{package.adressef}}</label>
                  </div>
                </div>
                <div class="col-sm-3">
                  <h5 class="card-title">Coordonnées du client</h5>
                  <hr>
                  <div class="form-group">
                    <label class="form-label">Téléphone : {{package.telc}}</label>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Nom &amp; Prénom : {{package.nomc}}</label>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Ville : {{package.villec}}</label>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Délegation : {{package.delegationc}}</label>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Adresse : {{package.adressec}}</label>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Code postale : {{package.codePostalec}}</label>
                  </div>
                </div>

                <div class="col-sm-3" style="border-right: 1px solid #aaa;">

                  <h5 class="card-title">Coordonnées de colis</h5>
                  <hr>
                  <div class="form-group">
                    <label class="form-label h4">COD : {{package.c_remboursement}}</label>
                  </div>
                  <div class="form-group">
                    <label class="form-label h5 text-success">Dernier etat : {{package.etat}}
                      <ng-container *ngIf="package.etat == 'collecté'"> - {{package.filiere}}</ng-container>
                      <ng-container *ngIf="package.etat == 'retourné à'">{{package.nomf}}</ng-container>
                    </label>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Service : {{package.service}}</label>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Libelle marchandise : {{package.libelle}}</label>
                  </div>
                </div>
                <div class="col-sm-3">
                  <h5 class="card-title">Etat du colis</h5>
                  <hr>
                  <ng-container *ngFor="let historique of package.historique">
                    <ng-container *ngIf="getIndex(historique)">
                      <div class="form-group">
                        <ng-container *ngIf="role == 'admin'">
                          <button class="btn btn-danger btn-sm" title="Supprimer etat"
                            (click)="deleteState(historique)">x</button>
                        </ng-container>
                        <label class="form-label">{{historic[getIndex(historique)]?.viewState}}
                          <ng-container *ngIf="historic[getIndex(historique)]?.state == 'collecté'">
                            ({{package.filiere}})</ng-container>
                          <ng-container *ngIf="historic[getIndex(historique)]?.viewState == 'Retourné à '">
                            {{package.nomf}}</ng-container>

                          {{historique?.dateFormatted}}
                        </label>
                      </div>
                    </ng-container>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="routePath == 'recherche'">
        <ng-container *ngFor="let package of packageData">
          <div class="card mb-4" style="position: relative;">
            <h1 class="card-header bg-primary text-white">{{package.CAB}}</h1>
            <div style="position: absolute; right: 1%; top: 4%;">
              <ng-container *ngIf="role == 'admin'">
                <a (click)="modifyPackage(package)" class="btn btn-sm btn-success mr-3"><i class="fa fa-edit"></i></a>
                <button class="btn btn-sm btn-danger mr-3" [routerLink]="" (click)="delete(package)"><i
                    class="fa fa-trash"></i></button>
              </ng-container>

              <!-- <button class="btn btn-sm btn-success mr-3" data-toggle="modal" data-target="#etatModal" onclick="etat_modal(36317525)"><i class="fa fa-check"></i></button> -->

              <a [routerLink]="" (click)="printPackage(package)" class="btn btn-sm btn-warning mr-3">
                <i class="fa fa-print"></i>
              </a>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-12">
                  <h5 class="card-title">Nombre de tentative: {{calculateAttempts(package.historique)}}</h5>
                  <hr>
                </div>
                <div class="col-sm-3">
                  <h5 class="card-title">Coordonnées de l'expéditeur</h5>
                  <hr>
                  <div class="form-group">
                    <label class="form-label">Téléphone : {{package.telf}}</label>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Nom &amp; Prénom : {{package.nomf}}</label>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Ville : {{package.villef}}</label>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Délegation : {{package.delegationf}}</label>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Adresse : {{package.adressef}}</label>
                  </div>
                </div>
                <div class="col-sm-3">
                  <h5 class="card-title">Coordonnées du client</h5>
                  <hr>
                  <div class="form-group">
                    <label class="form-label">Téléphone : {{package.telc}}</label>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Nom &amp; Prénom : {{package.nomc}}</label>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Ville : {{package.villec}}</label>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Délegation : {{package.delegationc}}</label>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Adresse : {{package.adressec}}</label>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Code postale : {{package.codePostalec}}</label>
                  </div>
                </div>

                <div class="col-sm-3" style="border-right: 1px solid #aaa;">

                  <h5 class="card-title">Coordonnées de colis</h5>
                  <hr>
                  <div class="form-group">
                    <label class="form-label h4">COD : {{package.c_remboursement}}</label>
                  </div>
                  <div class="form-group">
                    <label class="form-label h5 text-success">Dernier etat : {{package.etat}}</label>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Service : {{package.service}}</label>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Libelle marchandise : {{package.libelle}}</label>
                  </div>
                </div>
                <div class="col-sm-3">
                  <h5 class="card-title">Etat du colis</h5>
                  <hr>
                  <ng-container *ngFor="let historique of package.historique">
                    <ng-container *ngIf="getIndex(historique)">
                      <div class="form-group col-12">
                        <ng-container *ngIf="role == 'admin'">
                          <button class="btn btn-danger btn-sm" title="Supprimer etat"
                            (click)="deleteState(historique)">x</button>
                        </ng-container>
                        <label class="form-label">{{historic[getIndex(historique)].viewState}}
                          {{historique?.dateFormatted}}</label>
                      </div>
                    </ng-container>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <!-- ************************ END: PATH = RECHRCHE ************************ -->

    </div>
  </div>

</div>
