<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow border-0">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h3 class="m-0 font-weight-bold">Importation</h3>

          <a class="m-0 float-right btn btn-info btn-sm" (click)="download('../../../assets/img/importExcel.xls')"
            download="">
            <i class="fas fa-download"></i> Télécharger l'exemple
          </a>
        </div>
        <!-- if error add method="POST" -->
        <form class="row" enctype="multipart/form-data">
          <div class="col-md-5 offset-md-2 mt-4 form-group">
            <input class="form-control" type="file" (change)="onFileSelected($event)" accept=".xls" />
            <!-- <input type="file" class="form-control" name="employee_file_excel" accept=".xlsx"> -->
          </div>
        </form>
      </div>
      <div class="card">
        <div [ngClass]="[display]">
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold">Importation excel</h6>
            <div class="m-0 float-right">
              <form method="POST">
                <button name="add" type="submit" class="btn btn-success mr-3" (click)="upload()">Continuer</button>
                <button name="vider" type="submit" class="btn btn-info mr-3" (click)="redirect()">Annuler</button>
              </form>
            </div>
          </div>
          <div class="table-responsive">
            <table id="myTable" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Nom &amp; Prénom</th>
                  <th>Téléphone</th>
                  <th>Délégation</th>
                  <th>Adresse</th>
                  <th>COD</th>
                  <th>Libelle de marchandise</th>
                  <th>Alertes</th>
                </tr>
                <tr *ngFor="let item of excelData; let index = index;">
                  <td>{{item["Nom & Prénom"]}}</td>
                  <td>{{item["Tél"]}}</td>
                  <td>{{item["délegation"]}}</td>
                  <td>{{item["adresse"]}}</td>
                  <td>{{item["COD"]}}</td>
                  <td>{{item["libelle"]}}</td>
                  <ng-container *ngIf="errors.length !== 0">
                    <td>
                      <ng-container *ngFor="let error of errors | keyvalue">
                        <ng-container *ngIf="error.key.indexOf((index+1).toString()) !== -1">
                          <i class='fas fa-exclamation-triangle' style='color:#f5365c'></i>
                          <ng-container *ngIf="error.value.indexOf('is not a valid enum') !== -1; else Else">
                            <small class="text-danger">
                              Etat de colis donné est invalide, état 'nouveau' sera attribué par default
                            </small>
                          </ng-container>
                          <ng-template #Else>
                            <small class="text-danger">
                              {{error.value}}, vous pouvez la changer à partir de la liste
                            </small>
                          </ng-template>
                          <br>
                        </ng-container>
                      </ng-container>
                    </td>

                  </ng-container>
                </tr>
              </thead>
              <tbody id="filter_body">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
