.well {
  border: 0.5px solid;
}
.width_10 {
  width: 10%;
}
.width_20 {
  width: 20%;
}
.width_30 {
  width: 30%;
}
.width_40 {
  width: 40%;
}
.width_50 {
  width: 50%;
}
.width_60 {
  width: 60%;
}
.width_70 {
  width: 70%;
}
.width_80 {
  width: 80%;
}
.width_90 {
  width: 90%;
}
.width_100 {
  width: 100%;
}
.heigth_100 {
  height: 250px;
}
h4,
h2 {
  font-weight: bolder;
  text-transform: uppercase;
}
th,
td {
  border: 0.5px solid;
  text-transform: uppercase;
  color: black;
}
.A4 {
  background: white;
  width: 1040px;
  height: 19.8cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  color: black;
}
